* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    background-color: #F5EBDD;
    position: relative;
    /* overflow-x: hidden; */
}

.head {

    /* background-color:#B89C65 ;
    background-color: #F5EBDD;
    background-color: #F5EBDD; */
    background-color: #D2C5B3;
    position: relative;

}

.head ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #B89C65;
    color: white;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

.head ul li a {
    text-decoration: none;
    color: white;
}

.head1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D2C5B3;
    padding: 15px 30px;
}

.book {
    color: #B89C65;
    font-size: 26px;
    font-weight: bold;
}

.table {
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.logo>p {
    color: white;
}

.search-box {
    display: flex;
    align-items: center;
    background: #fffaf2;
    border-radius: 30px;
    padding: 20px 30px;
    width: 650px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    background: transparent;
}

.search-icon {
    font-size: 25px;
}


.bch {
    display: flex;
}









.card {
    display: flex;
    background: #fff;
    /* max-width: 1100px; */
    /* margin: auto; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
    margin-bottom: 30px;
    margin-top: 50px;
}

.card-img {
    width: 55%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    width: 45%;
    padding: 30px;
    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top h2 {
    font-size: 28px;
    font-weight: bold;
}

.heart {
    font-size: 36px;
    color: #b89c65;
    cursor: pointer;
}

.location {
    margin: 20px 0;
    color: #555;
    line-height: 40px;
    font-weight: 500;
    font-size: 20px;
}

.food {
    margin-bottom: 30px;
    color: #666;
    margin-top: 60px;
    font-size: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost {
    font-size: 20px;
    letter-spacing: 3px;
    color: #555;
}

.cost span {
    color: #b89c65;
    font-weight: bold;
    margin-top: 50px;
}

.rating {
    color: #cddc39;
    font-size: 20px;
}


.show {
    text-align: center;
    padding: 20px 30px;
    background-color: #b89c65;
    margin: 30px 550px;
    width: 20%;
    text-align: center;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}

.item {
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    margin: 30px;

}








.tab-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 4px solid #caa472;
}

.tab {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #999;
    background: #fff;
}

.tab.active {
    border-bottom: 4px solid #caa472;
    font-weight: bold;
}

.content-container {
    padding: 20px;
}

.tab-content {
    display: none;
    background-color: white;
}

.tab-content.active {
    display: block;
}

.container {
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 40px 20px;
    background-color: white;

}

.grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 40px;

}

h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.info-block {
    margin-bottom: 25px;


}

.info-block h4 {
    font-size: 25px;
    margin-bottom: 8px;
    color: #444;
}

.info-block p {
    font-size: 20px;
    line-height: 60px;
    margin: 0;
    color: #333;
}

.price {
    font-weight: bold;
    color: #b89b5e;
}

.time {
    font-size: 14px;
}

hr {
    border: none;
    border-top: 1px solid #e2e2e2;
    margin: 25px 0;
}

.map img {
    width: 80%;
    border-radius: 4px;
    margin-top: 10px;
}

.btn {
    margin-top: 20px;
    width: 100%;
    background: #b89b5e;
    color: #fff;
    border: none;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.menu-tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    /* border-top: 4px solid #f1e8d9; */
    padding: 0 20px;
}

.tab1 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: capitalize;
    padding: 20px 0;
    color: #000;
}

.tab1.active {
    background: #c0a46b;
    color: #fff;
    border-radius: 12px;
    padding: 20px 0;
}


.imggrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}


.c {
    text-align: center;
    background-color: white;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 10px;

}

.top-cont {
    display: flex;
    justify-content: space-around;
}

.c img {
    height: 300px;
    /* width: 400px; */
}

.rate {
    text-align: left;
    margin-left: 50px;
    font-size: 25px;
}

.rate button {
    background-color: #c0a46b;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    margin: 15px auto;
}



























/* footer style  */

.main {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: #B89C65;
    color: white;
    padding: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.main div ul {
    list-style-type: none;
    line-height: 35px;
    font-size: 22px;
}

.line {
    border: none;
    height: 3px;
    background: white;
    margin: 20px 80px;
}

.sub {
    background-color: #B89C65;
    margin-top: -30px;
    padding-bottom: 130px;
}

.rest {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    color: white;

}

.rest div ul {
    list-style-type: none;
    font-size: 20px;
    line-height: 35px;
}

.icon-flex {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.f {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    font-weight: 500;
    margin: 30px 30px;
    justify-content: center;
}

.review {
    height: 330px;
    background: url("images/Frame\ 30680.png") center/cover no-repeat;
    margin-top: 20px;
    position: relative;
}

.rev-content {
    position: absolute;
    top: 30px;
    left: 500px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 8px;
}

.person-icon {
    display: flex;
    justify-content: space-evenly;
    background-color: #B89C65;
    padding: 60px 0;
    color: white;
}

.i img {
    height: 90px;
    width: 90px;
    margin-left: 30px;
}

.i>p:nth-child(2) {
    font-size: 25px;
}

.i>p:nth-child(4) {
    font-weight: bold;
}

.map {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inner {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.offer h2 {
    padding: 20px;
    margin-left: 80px;
    font-size: 35px;
}

.offer input {
    outline: none;
    background: white;
    border: none;
    padding: 15px 50px;
    margin: 50px 0;
    width: 400px;
    margin-left: 50px;
    border-radius: 15px;

}

.in::placeholder {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.btn {
    background: #B89C65;

    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    width: 200px;

    color: white;
    font-size: 20px;
}

.rights {
    background: #2E2E2E;
    color: #fff;
    padding: 55px 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-center {
    text-align: center;
    flex: 1;
}

.footer-center p {
    margin: 20px 0 30px 250px;
    font-size: 23px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-left: 200px;
}

.social-icons img {
    font-size: 18px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: block;
}

.footer-right p {
    margin: 6px 0;
    font-size: 20px;
}

.footer-right i {
    margin-right: 8px;
    color: black;

}









@media (max-width: 576px) {

    /* Header container */
    .head {
        padding: 10px;
    }

    /* Top nav list */
    .head ul {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        font-size: 16px;
    }

    /* Logo + search section */
    .head1 {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    /* Book & table text */
    .book,
    .table {
        font-size: 20px;
        text-align: center;
    }

    /* Search box */
    .search-box {
        width: 100%;
        padding: 12px 18px;
    }

    .search-box input {
        font-size: 14px;
    }

    .search-icon {
        font-size: 20px;
    }

    /* Logo text */
    .logo>p {
        font-size: 14px;
        text-align: center;
    }

    /* bch container */
    .bch {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}








@media(max-width: 576px) {
    .imggrid {
        grid-template-columns: 1fr;
    }
}























/* Footer Main */
@media (max-width: 576px) {
    .main {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .main div ul {
        font-size: 18px;
        line-height: 30px;
    }

    .line {
        margin: 20px;
    }

    /* Sub Footer */
    .rest {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .rest div ul {
        font-size: 16px;
    }

    .icon-flex {
        flex-direction: column;
        gap: 20px;
    }

    .f {
        font-size: 20px;
        margin: 20px 10px;
    }

    /* Review Section */
    .review {
        height: 220px;
    }

    .rev-content {
        position: static;
        text-align: center;
        font-size: 20px;
        letter-spacing: 4px;
        padding-top: 20px;
    }

    /* Person Icons */
    .person-icon {
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }

    .i img {
        margin-left: 0;
    }

    .i>p:nth-child(2) {
        font-size: 18px;
    }

    /* Map & Offer */
    .map {
        flex-direction: column;
        gap: 20px;
    }

    .inner {
        flex-direction: column;
        gap: 20px;
    }

    .offer h2 {
        margin-left: 0;
        font-size: 22px;
        text-align: center;
    }

    .offer input {
        width: 90%;
        margin: 20px auto;
        padding: 12px;
    }

    .in::placeholder {
        font-size: 18px;
    }

    .btn {
        width: 90%;
        font-size: 18px;
    }

    /* Bottom Footer */
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-center p {
        margin: 10px 0;
        font-size: 18px;
    }

    .social-icons {
        margin-left: 0;
    }

    .social-icons img {
        height: 40px;
        width: 40px;
    }

    .footer-right p {
        font-size: 16px;
    }
}